.select {
  width: 100%;

  outline: none;
}

.select__preview {
  position: relative;
  padding: 7px 9px;
  margin-bottom: 7px;

  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
  background: #dcd8d8;
  border-radius: 5px;
}

.select__preview:after {
  content: '';

  position: absolute;
  width: 16px;
  height: 16px;
  right: 10px;
  top: 10px;

  background-image: url("./arrow.svg");
  background-size: contain;
}

.select__preview--active:after {
  transform: rotate(180deg);
}

.select-list {
  display: none;

  border-radius: 5px;
  background: #FFFFFF;

  overflow: hidden;
}

.select-list--show {
  display: block;
}

.select-list__item {
  padding: 7px 9px;

  font-size: 18px;
  
  background: #FFFFFF;
  list-style: none;
  cursor: pointer;
}

.select-list__item:hover {
  background: #DEDEDE;
}